<div class="quiz-area" ng-show="inProgress">
	<div ng-show="!quizOver">
		<h2 id="question">{{question}}</h2>
		<ul id="options">
			<li ng-repeat="option in options">
				<label>
					<input type="radio" name="answer" value="{{option}}">
					{{option}}
				</label>
			</li>
		</ul>
		<button ng-click="checkAnswer()" ng-show="answerMode">Submit</button>

		<div ng-show="!answerMode">
			<button ng-click="nextQuestion()" class="next-question">Next</button>
			<span ng-show="correctAns">Move on to the next question.</span>
			<span ng-show="!correctAns">Great!Move on to the next question.</span>
		</div>
	</div>

	<div ng-show="quizOver">
		<h2>Analysis is complete</h2>
		
		<div ng-show="score==25">
		You probably have flu
		</div>
		<div ng-show="score==3">
		You probably have common cold
		</div>
		<div ng-show="score==59">
		You probably have mumps
		</div>
		<div ng-show="score==31">
		You probably have chicken pox
		</div>
		<div ng-show="score==7">
		No disease detected
		</div>
		<div ng-show="score==10">
		No disease detected
		</div>
		<div ng-show="score==11">
		No disease detected
		</div>
		<div ng-show="score==12">
		No disease detected
		</div>
		<div ng-show="score==2">
		No disease detected
		</div>
		<div ng-show="score==1">
		No disease detected
		</div>
		<div ng-show="score==30">
		You probably have common cold
		</div>
		<div ng-show="score==22">
		You probably have common cold
		</div>
		<div ng-show="score==23">
		You probably have common cold
		</div>
		<div ng-show="score==19">
		You probably have common cold
		</div>
		<div ng-show="score==20">
		You probably have common cold
		</div>
		<div ng-show="score==21">
		You probably have common cold
		</div>
		<div ng-show="score==59">
		You probably have common cold
		</div>
		<div ng-show="score==57">
		You probably have common cold
		</div>
		<div ng-show="score==24">
		You probably have flu
		</div>
		<div ng-show="score==25">
		You probably have flu
		</div>
		<div ng-show="score==50">
		You probably have mumps
		</div>
		<div ng-show="score==51">
		You probably have mumps
		</div>
		<div ng-show="score==52">
		You probably have mumps
		</div>
		<div ng-show="score==81">
		You probably have mumps
		</div>
		<div ng-show="score==69">
		You probably have mumps
		</div>
		<div ng-show="score==62">
		You probably have mumps
		</div>
		<div ng-show="score==17">
		You probably have flu
		</div>
		<div ng-show="score==18">
		You probably have flu
		</div>
		<div ng-show="score==67">
		You probably have flu
		</div>
		<div ng-show="score==78">
		You probably have flu
		</div>
		<div ng-show="score==32">
		You probably have measles
		</div>
		<div ng-show="score==29">
		You probably have measles
		</div>
		<div ng-show="score==28">
		You probably have measles
		</div>
		<div ng-show="score==0">
		No disease detected
		</div>
		<div ng-show="score==13">
		No disease detected
		</div>
		<div ng-show="score==80">
		You probably have flu
		</div>
		<div ng-show="score==20">
		No disease detected
		</div>
		<div ng-show="score==63">
		You probably have mumps
		</div>
		<div ng-show="score==70">
		You probably have mumps
		</div>
		<div ng-show="score==71">
		You probably have mumps
		</div>
		<div ng-show="score==79">
		You probably have mumps
		</div>
		<div ng-show="score==64">
		You probably have mumps
		</div>
		<div ng-show="score==14">
		You probably have common cold
		</div>
		<div ng-show="score==15">
		You probably have common cold
		</div>
		<div ng-show="score==66">
		You probably have mumps
		</div>
		<div ng-show="score==68">
		You probably have mumps
		</div>
		<div ng-show="score==74">
		You probably have flu
		</div>
		<div ng-show="score==58">
		You probably have flu
		</div>
		<div ng-show="score==56">
		You probably have measles
		</div>
		<div ng-show="score==49">
		No disease detected
		</div>
		<button ng-click="reset()">Use again</button>
	</div>

</div>

<div class="intro" ng-show="!inProgress">
	<p>Welcome to the Disease Analyzer App</p>
	<button id="startQuiz" ng-click="start()">Start your diagnosis</button>
</div>
