<div class="quiz-area" ng-show="inProgress">
	<div ng-show="!quizOver">
		<h2 id="question">{{question}}</h2>
		<ul id="options">
			<li ng-repeat="option in options">
				<label>
					<input type="radio" name="answer" value="{{option}}">
					{{option}}
				</label>
			</li>
		</ul>
		<button ng-click="checkAnswer()" ng-show="answerMode">Submit</button>

		<div ng-show="!answerMode">
			<button ng-click="nextQuestion()" class="next-question">Next</button>
			<span ng-show="correctAns">Move on to the next question.</span>
			<span ng-show="!correctAns">Great!Move on to the next question.</span>
		</div>
	</div>

	<div ng-show="quizOver">
		<h2>Analysis is complete</h2>
		
		<div ng-show="score==25">
		You probably have flu
		</div>
		<div ng-show="score==3">
		You probably have common cold
		</div>
		<div ng-show="score==59">
		You probably have mumps
		</div>
		<div ng-show="score==18">
		You probably have german measles
		</div>
		<div ng-show="score==31">
		You probably have chicken pox
		</div>
		<div ng-show="score==7">
		No disease detected
		</div>
		<div ng-show="score==10">
		No disease detected
		</div>
		<div ng-show="score==12">
		No disease detected
		</div>
		<div ng-show="score==2">
		No disease detected
		</div>
		<div ng-show="score==1">
		No disease detected
		</div>
		<div ng-show="score==30">
		No disease detected
		</div>
		<div ng-show="score==22">
		No disease detected
		</div>
		<div ng-show="score==19">
		No disease detected
		</div>
		<div ng-show="score==21">
		No disease detected
		</div>
		<div ng-show="score==24">
		No disease detected
		</div>
		<div ng-show="score==50">
		No disease detected
		</div>
		<div ng-show="score==51">
		No disease detected
		</div>
		<div ng-show="score==52">
		No disease detected
		</div>
		<div ng-show="score==59">
		No disease detected
		</div>
		<div ng-show="score==81">
		No disease detected
		</div>
		<button ng-click="reset()">Use again</button>
	</div>
	<div id="score">
		Score: {{score}}
	</div>
</div>

<div class="intro" ng-show="!inProgress">
	<p>Welcome to the Disease Analyzer App</p>
	<button id="startQuiz" ng-click="start()">Start your diagnosis</button>
</div>
